<!DOCTYPE html>
<html lang="en">
  <%-include('partials/header.ejs')%>
  <body>
    <link href="/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">


    <%-include('partials/nav.ejs')%>

    <div class="container-fluid">
      <div class="row">
        <%-include('partials/sidebar.ejs')%>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="container-fluid mt-4 ">
                <div class="border-bottom pb-3 mb-3">
                  <div class="row form-group">
                    <label for="" class="col-sm-3 col-form-label"
                      >Disease name</label
                    >
                    <div class="col-sm-9">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Disease name"
                        id="disease_name_input"
                        value='<%= editDiseaseData.name   %>'
                      />
                    </div>
                  </div>

                  

                  
                  <% for(var i=0; i<templateData.length; i++){ %>
                  <div class="border-top pt-3">
                    <h4 class="text-center" style="padding: 10px 0; background-color: lightgray; border-radius: 10px;">
                      <%= templateData[i].name %>
                    </h4>
                    <div class="pt-3">
                      <div class="altLists">
                        <ol id="<%= templateData[i].id %>_form_view">
                        </ol>
                      </div>
                    </div>
                    <form id="<%= templateData[i].id%>_form" class="template_form" onsubmit="templateSubmit(this)">
                      <div class="row form-group">
                        <div class="col-9">
                          <select name="template" class="selectpicker form-control" id="<%= templateData[i].id%>_form_select">
                            <% for(var j =0; j<templateData[i].data.length;j++){ %>
                              <option value=<%= templateData[i].data[j].id %>> <%= templateData[i].data[j].title %> </option>
                            <% } %>
                          </select>
                        </div>
                        <div class="col-2">
                          <button class="mb-2 btn btn-primary" type="submit">Add</button>
                          <button class="mb-2 btn btn-danger template_delete" id="<%= templateData[i].id%>_delete_btn"  type="button">Clear</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <% } %>           
                </div>
                <form id="main_form">

                <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="home-tab"
                      data-toggle="tab"
                      href="#oeToBox"
                      role="tab"
                      aria-controls="home"
                      aria-selected="true"
                      >G/E</a
                    >
                  </li>
                  <li class="nav-item" id="boxToOeNav" role="presentation">
                    <a
                      class="nav-link"
                      id="profile-tab"
                      data-toggle="tab"
                      href="#boxToOe"
                      role="tab"
                      aria-controls="profile"
                      aria-selected="false"
                      >S/E</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="contact-tab"
                      data-toggle="tab"
                      href="#oe"
                      role="tab"
                      aria-controls="contact"
                      aria-selected="false"
                      >Special Note</a
                    >
                  </li>
                </ul>
                <div class="tab-content mt-3" id="myTabContent">
                  <div
                    class="tab-pane fade show active"
                    id="oeToBox"
                    role="tabpanel"
                    aria-labelledby="oe-tab"
                  >
                    <form class="form-group row">
                      <label for="bp" class="col-sm-3 col-form-label">BP</label>
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="bp"
                          name="bp"
                          value='<%= editDiseaseData.bp   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="bp_state" id="bp_state"
                        />
                      </div>
                      <label for="pluse" class="col-sm-3 col-form-label"
                        >Pluse</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="pulse"
                          name="pulse"
                          value='<%= editDiseaseData.pulse   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="pulse_state" id="pulse_state"
                        />
                      </div>
                      <label for="temp" class="col-sm-3 col-form-label"
                          
                      >Temp</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="temp"
                          name="temp"
                          value='<%= editDiseaseData.temp   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="temp_state" id="temp_state"
                        />
                      </div>
                      <label for="heart" class="col-sm-3 col-form-label"
                        >Heart</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="heart"
                          name="heart"
                          value='<%= editDiseaseData.heart   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="heart_state" id="heart_state"
                        />
                      </div>
                      <label for="lungs" class="col-sm-3 col-form-label"
                        >Lungs</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="lungs"
                          name="lungs"
                          value='<%= editDiseaseData.lungs   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="lungs_state" id="lungs_state"
                        />
                      </div>
                      <label for="abd" class="col-sm-3 col-form-label"
                        >Abd</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="abd"
                          name="abd"
                          value='<%= editDiseaseData.abd   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="abd_state" id="abd_state"
                        />
                      </div>
                      <label for="anaemia" class="col-sm-3 col-form-label"
                        >Anaemia</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="anaemia"
                          name="anaemia"
                          value='<%= editDiseaseData.anaemia   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="anaemia_state" id="anaemia_state"
                        />
                      </div>
                      <label for="jaundice" class="col-sm-3 col-form-label"
                        >Jaundice</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="jaundice"
                          name="jaundice"
                          value='<%= editDiseaseData.jaundice   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="jaundice_state" id="jaundice_state"
                        />
                      </div>
                      <label for="cyanosis" class="col-sm-3 col-form-label"
                        >Cyanosis</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="cyanosis"
                          name="cyanosis"
                          value='<%= editDiseaseData.cyanosis   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="cyanosis_state" id="cyanosis_state"
                        />
                      </div>
                      <label for="oedema" class="col-sm-3 col-form-label"
                        >Oedema</label
                      >
                      <div class="col-sm-9 d-flex">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="oedema"
                          name="oedema"
                          value='<%= editDiseaseData.oedema   %>'
                          required
                        />
                        <input
                          type="checkbox"
                          class="custom-checkbox ml-3 mt-2"
                          name="oedema_state" id="oedema_state"
                        />
                      </div>
                  </div>
                  <div
                    class="tab-pane fade py-2"
                    id="boxToOe"
                    role="tabpanel"
                    aria-labelledby="boxToOe-tab"
                  >
                    <form>
                      <ul class="se">
                        <li>Nervous System</li>
                        <div class="input-section">
                          <div class="d-flex">
                            <input
                              placeholder="Inspection"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_nervous_system_inspection"
                              value='<%= editDiseaseData.se_nervous_system_inspection   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_nervous_system_inspection_state" id="se_nervous_system_inspection_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Palpation "
                              type="text"
                              class="form-control form-control-sm"
                              name="se_nervous_system_palpation"
                              value='<%= editDiseaseData.se_nervous_system_palpation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_nervous_system_palpation_state" id="se_nervous_system_palpation_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Percussion"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_nervous_system_percussion"
                              value='<%= editDiseaseData.se_nervous_system_percussion   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_nervous_system_percussion_state" id="se_nervous_system_percussion_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Auscultation"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_nervous_system_auscultation"
                              value='<%= editDiseaseData.se_nervous_system_auscultation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_nervous_system_auscultation_state" id="se_nervous_system_auscultation_state"
                            />
                          </div>
                        </div>
                        <li>Respiratory System</li>
                        <div class="input-section">
                          <div class="d-flex">
                            <input
                              placeholder="Inspection"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_respiratory_system_inspection"
                              value='<%= editDiseaseData.se_respiratory_system_inspection   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_respiratory_system_inspection_state" id="se_respiratory_system_inspection_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Palpation "
                              type="text"
                              class="form-control form-control-sm"
                              name="se_respiratory_system_palpation"
                              value='<%= editDiseaseData.se_respiratory_system_palpation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_respiratory_system_palpation_state" id="se_respiratory_system_palpation_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Percussion"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_respiratory_system_percussion"
                
                              value='<%= editDiseaseData.se_respiratory_system_percussion   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_respiratory_system_percussion_state" id="se_respiratory_system_percussion_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Auscultation"
                              type="text"
                              class="form-control form-control-sm"
                              
                              name="se_respiratory_system_auscultation"
                              
                              value='<%= editDiseaseData.se_respiratory_system_auscultation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_respiratory_system_auscultation_state" id="se_respiratory_system_auscultation_state"
                            />
                          </div>
                        </div>
                        <li>CVS</li>
                        <div class="input-section">
                          <div class="d-flex">
                            <input
                              placeholder="Inspection"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_cvs_inspection"
                              value='<%= editDiseaseData.se_cvs_inspection   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_cvs_inspection_state" id="se_cvs_inspection_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Palpation "
                              type="text"
                              class="form-control form-control-sm"
                              name="se_cvs_palpation"
                              
                              value='<%= editDiseaseData.se_cvs_palpation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_cvs_palpation_state" id="se_cvs_palpation_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Percussion"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_cvs_percussion"
                              
                              value='<%= editDiseaseData.se_cvs_percussion   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_cvs_percussion_state" id="se_cvs_percussion_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Auscultation"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_cvs_auscultation"
                              
                              value='<%= editDiseaseData.se_cvs_auscultation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_cvs_auscultation_state" id="se_cvs_auscultation_state"
                            />
                          </div>
                        </div>
                        <li>Alimentary System</li>
                        <div class="input-section">
                          <div class="d-flex">
                            <input
                              placeholder="Inspection"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_alimentary_system_inspection"
                              value='<%= editDiseaseData.se_alimentary_system_inspection   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_alimentary_system_inspection_state" id="se_alimentary_system_inspection_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Palpation "
                              type="text"
                              class="form-control form-control-sm"
                              name="se_alimentary_system_palpation"
                              value='<%= editDiseaseData.se_alimentary_system_palpation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_alimentary_system_palpation_state" id="se_alimentary_system_palpation_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Percussion"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_alimentary_system_percussion"
                              value='<%= editDiseaseData.se_alimentary_system_percussion   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_alimentary_system_percussion_state" id="se_alimentary_system_percussion_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Auscultation"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_alimentary_system_auscultation"
                        
                              value='<%= editDiseaseData.se_alimentary_system_auscultation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_alimentary_system_auscultation_state" id="se_alimentary_system_auscultation_state"
                            />
                          </div>
                        </div>
                        <li>Musculoskeletal System</li>
                        <div class="input-section">
                          <div class="d-flex">
                            <input
                              placeholder="Inspection"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_musculoskeletal_system_inspection"
                              
                              value='<%= editDiseaseData.se_musculoskeletal_system_inspection   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_musculoskeletal_system_inspection_state" id="se_musculoskeletal_system_inspection_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Palpation "
                              type="text"
                              class="form-control form-control-sm"
                              name="se_musculoskeletal_system_palpation"
                              value='<%= editDiseaseData.se_musculoskeletal_system_palpation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              name="se_musculoskeletal_system_palpation_state" id="se_musculoskeletal_system_palpation_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Percussion"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_musculoskeletal_system_percussion"
                              
                              value='<%= editDiseaseData.se_musculoskeletal_system_percussion   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
      
                              name="se_musculoskeletal_system_percussion_state" id="se_musculoskeletal_system_percussion_state"
                            />
                          </div>
                          <div class="d-flex">
                            <input
                              placeholder="Auscultation"
                              type="text"
                              class="form-control form-control-sm"
                              name="se_musculoskeletal_system_auscultation"
                              value='<%= editDiseaseData.se_musculoskeletal_system_auscultation   %>'
                              required
                            />
                            <input
                              type="checkbox"
                              class="custom-checkbox mt-4"
                              
                              name="se_musculoskeletal_system_auscultation_state" id="se_musculoskeletal_system_auscultation_state"
                            />
                          </div>
                        </div>
                      </ul>
                    </form>
                  </div>
                  <div
                    class="tab-pane fade py-2"
                    id="oe"
                    role="tabpanel"
                    aria-labelledby="oe-tab"
                  >
                    <textarea
                      rows="6"
                      class="form-control"
                      placeholder="Special Note"
                      name="special_note"
                    ><%= editDiseaseData.special_note   %></textarea>
                  </div>
                </div>
                
                <button class="btn btn-info mt-2" id="final-submit-btn" type="submit"> Save </button>
                  
              </form>
            </div>
            <input type="hidden" name="mode" id="operation_mode" value="<%= mode %>"/>
           
            <% if(mode=='edit') {%>
              <input type="hidden" name="id" id="operation_edit_id" value="<%= editDiseaseData.id %>" />
            <%}%>

        </main>
      </div>
    </div>
    
    <script src="/js/api/addDisease.js"></script>

    <script>
      // var test = '<%- templateData %>';
    </script>
    
    <% if(mode == 'edit') { %>
      <script>
        const cc = '<%- editDiseaseData.cc %>'
        const advice = '<%- editDiseaseData.advice %>'
        const investigation = '<%- editDiseaseData.investigation %>'
        const counselling = '<%- editDiseaseData.counselling %>'
        let fixed_data = '<%- editDiseaseData.fixed_data %>'; 

        try {
          templateValues.cc = cc ? JSON.parse(cc) : [];
          templateValues.advice = advice ? JSON.parse(advice) : [];
          templateValues.investigation = investigation ? JSON.parse(investigation) : [];
          templateValues.counselling = counselling ? JSON.parse(counselling) : [];
          
        } catch (error) {
          console.log(error)
          
        }

        

        renderTemplateAddedText($("#cc_form_view"),templateValues.cc);
        renderTemplateAddedText($("#advice_form_view"),templateValues.advice);
        renderTemplateAddedText($("#investigation_form_view"),templateValues.investigation);
        renderTemplateAddedText($("#counselling_form_view"),templateValues.counselling);

        // check fixed data
        fixed_data = fixed_data ? JSON.parse(fixed_data) : [];
        fixed_data.forEach(each=>{
          $("#"+each).attr("checked", true);
        })

      </script>
      <% } %>

        <script src="/plugins/bootstrap-select/js/bootstrap-select.min.js" ></script>
        <script src="/plugins/bootstrap-select/js/i18n/defaults-en_US.min.js" ></script>
  

       <script>
        $(document).ready(()=>{
            $("select").selectpicker({
                noneSelectedText:'Nothing selected',
                showIcon:true,
                title: "Select an item",
                showSubtext: true,
                liveSearch: true,
                liveSearchPlaceholder: "Search",
                liveSearchNormalize: false,
                liveSearchStyle: 'contains',
            })

        })
   </script>
  </body>
</html>

